* {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: darkgreen;
}

.image {
    max-width: 50%;
    height: 200px;
    margin: auto;
    border: yellowgreen 3px;
}

img {
    display: block;
    max-width: 50%;
    margin: 0 auto;
}

#img-div {
    display: block;
    background-color: rgb(90, 180, 97);
    margin: auto;
    max-width: 80%;
}

#img-caption {
    margin: auto;
    padding-top: 10px;
}

p {
    background-color: aquamarine;
    text-align: center;
    margin-left: 10%;
    margin-right: 10%;
    min-width: 500px;
    max-width: 700px;
    padding: auto;
}