* {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.image {
    max-width: 50%;
    height: 200px;
    margin: auto;
}

img {
    display: block;
    max-width: 50%;
}

.img-div {
    display: block;
    max-width: 200px;
}

figcaption {
    
}